
<footer>
    <div class="container">
        <p>Copyright &copy; 2016 VMware, Inc. All rights reserved.</p>
    </div>
    <div class="container tsd-generator">
        <p>Generated using <a href="http://typedoc.io" target="_blank">TypeDoc</a>.</p>
    </div>
</footer>
